# scope = "@pe" 
# registry = "https://minedu.jfrog.io/artifactory/api/npm/pe-package/"
# _auth = bnBtLXBlLWNsaWVudDpBUDloVnlDUjZLN1RQbVhpbjZhM2dBdFdrd2Q=
# always-auth = true
# email = pe-development@minedu.gob.pe