@import 'variables';

.container-frag1 {
    width: 100%;
}

.container-headedit {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    font-family    : $fontnormal;
    font-size      : 12px;
    min-width      : auto;
    max-width      : 327px;

    * {
        margin-right : 2px;
        margin-bottom: 5px;
    }

    div {
        display        : flex;
        justify-content: center;
        align-items    : center;
        cursor         : pointer;
    }

    div:first-child {
        width           : 24px;
        height          : 24px;
        background-color: $colorPurple;
        color           : #ffffff;
        border-radius   : 50%;

        mat-icon {
            position : relative;
            top      : 2px;
            height   : 18px;
            width    : 18px;
            font-size: 18px;
        }
    }
}

.option-01-h {
    width           : 77px;
    height          : 28px;
    background-color: $celesteoscuro;
    border-radius   : 5px;
}

.option-02-h {
    width           : 193px;
    height          : 28px;
    background-color: $colorPurple;
    border-radius   : 5px;
    color           : #ffffff;
}

.container-02 {
    display        : flex;
    flex-wrap      : wrap;
    margin-bottom  : 43px;
    justify-content: space-between;
    align-items    : flex-end;
}

.container-title-edit-aula {
    font-family: $fontbold;

    div:first-child {
        text-align   : center;
        margin-top   : 35px;
        margin-bottom: 16px;
        font-size    : 16px;
    }

    div:first-child+div {
        font-size: 18px;
        min-width: auto;
        max-width: 910px;
    }
}

.container-compartir-cod {
    width        : auto;
    display      : flex;
    flex-wrap    : wrap;
    max-height   : 60px;
    color        : #569bf4;
    margin-bottom: 10px;
    margin-top   : 10px;

    div {
        cursor: pointer;
        width : 100%;
    }

    div:first-child {
        display    : flex;
        align-items: center;
        font-family: $fontnormal;

        .mat-icon {
            height      : 18px;
            width       : 18px;
            font-size   : 18px;
            margin-right: 10px;
        }
    }

    div:last-child {
        font-family: $fontbold;
        font-size  : 15px;
    }
}

.mat-tab-group {
    min-height: 500px;
}

.mat-tab-label {
    min-width       : auto !important;
    max-width       : 127px;
    height          : 32px !important;
    background-color: $celesteoscuro;
    margin-right    : 5px;
    border-radius   : 10px 10px 0px 0px;
    font-family     : $fontbold;
    color           : #000000;
}

// .mat-tab-label:focus:not(.mat-tab-disabled){
//     background-color: $colorPurple;
//     color: #ffffff;
// }

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    min-width       : auto;
    max-width       : 127px;
    background-color: $colorPurple;
}

.mat-tab-label-active {
    background-color: $colorPurple;
    opacity         : 1 !important;
    color           : #ffffff;
}

@media (min-width:768px) {
    .container-title-edit-aula {
        div:first-child {
            text-align: left;
        }

        div:first-child+div {
            font-size  : 24px;
            line-height: 29px;
        }
    }
}

@media (min-width:1440px) {
    .container-compartir-cod {
        div:first-child {
            justify-content: right;
        }

        div:last-child {
            text-align: right;
        }
    }
}